<form *ngIf="isFormVisible && !isPreviewVisible" [formGroup]="commentForm" (ngSubmit)="submitComment()" class="comment-form">  

  <!-- Text field -->
  <div class="form-group">
    <input id="userName" formControlName="userName" placeholder="User Name" 
      [class.invalid]="isFieldInvalid('userName')" required />
    <input id="email" formControlName="email" type="email" placeholder="Email" 
      [class.invalid]="isFieldInvalid('email')" required />
    <input id="homePage" formControlName="homePage" type="url" placeholder="Home Page (optional)" 
      [class.invalid]="isFieldInvalid('homePage')"/>
  </div>

  <!-- Text counter -->
  <div class="text-area-container">
    <textarea id="text" formControlName="text" placeholder="Write your comment..." [class.invalid]="isFieldInvalid('text')"
     (input)="updateCharCount()" required></textarea>
    <span class="char-counter">{{ charCount }}/500</span>
  </div>

  <!-- Tags panel -->
  <div class="toolbar">
    <button type="button" (click)="insertTag('i')">[i]</button>
    <button type="button" (click)="insertTag('strong')">[strong]</button>
    <button type="button" (click)="insertTag('code')">[code]</button>
    <button type="button" (click)="insertTag('a')">[a]</button>
    <button type="button" (click)="toggleAttachmentsInput()">+ Add files</button>
  </div>

  <!-- File loading -->
  <div class="attachments" *ngIf="isAttachmentsInputVisible">    
    <input id="fileAttachments" type="file" (change)="onFileSelected($event)" multiple accept="image/jpeg,image/png,image/gif,text/plain" />
    <p *ngIf="selectedFiles.length >= 6" class="error">Max 6 files allowed.</p>
  </div>

  <!-- File list -->
  <div class="file-list">
    <div *ngFor="let file of selectedFiles; let i = index" class="file-item">
      <span>{{ file.name }}</span>
      <button type="button" class="remove-btn" (click)="removeFile(i)">×</button>
    </div>
  </div>

  <div *ngIf="isLoadingCaptcha" class="loading">loading captcha...</div>

  <!-- CAPTCHA -->
  <div *ngIf="captchaImage && !isLoadingCaptcha" class="captcha-container">
    <img [src]="captchaImage" alt="Captcha" />
    <button type="button" (click)="requestCaptcha()">↻</button>
    <input id="captcha" formControlName="captcha" placeholder="Enter CAPTCHA" 
           [class.invalid]="isFieldInvalid('captcha')" required (focus)="handleCaptchaFocus()" />
  </div>

  <!-- Buttons -->
  <div class="sendbar">
    <button type="button" (click)="previewComment()">Preview</button>
    <button type="submit">Submit</button>
  </div>
</form>

<div *ngIf="isPreviewVisible" class="comment-preview">
  <div class="comment-card">
    <div class="comment-header">
      <img src="assets/img/plugs/avatar.png" alt="Avatar" class="comment-avatar" />
      <div>
        <span><strong>{{ commentForm.value.userName }} </strong> {{ commentForm.value.email }} </span>
        <span class="comment-date">{{getNow()}}</span>
      </div>
    </div>
    <p class="comment-text" [innerHTML]="commentForm.value.text | bbcode"></p>

    <!-- Attachments (Images) -->
    <div *ngIf="selectedFiles.length > 0" class="attachments">
      <div *ngIf="getPreviewImageAttachments(selectedFiles).length > 0" class="image-slider">
        <button class="slider-btn left" (click)="scrollImages('left')">❮</button>
        <div class="slider-container" #sliderRef data-preview>
          <div class="image-wrapper" *ngFor="let image of getPreviewImageAttachments(selectedFiles)">
            <img [src]="image.previewUrl" alt="Attachment Image" />
            
          </div>
        </div>
        <button class="slider-btn right" (click)="scrollImages('right')">❯</button>
      </div>

      <!-- Attachments (Text Files) -->
      <div class="text-files">
        <div *ngFor="let file of getPreviewTextAttachments(selectedFiles)" class="text-file">
          <span alt="Text File" class="file-icon">📄</span>
          <a [href]="" target="_blank" download>{{ truncateFileName(file.name, 30) }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sendbar">
    <button type="button" (click)="editComment()">Back</button>
  </div>
</div>

