<main class="main">
  <div class="content">
    <h1>Speaking Room</h1>

    <!-- Фільтри та "Say" -->
     <div class="filters-container">
      <div class="filters">
        <button class="sortButton" [class.active]="sortBy === 'createdAt'" 
          (click)="sortByCreatedAt();">{{sortBy != 'createdAt' ? '' : sortOrder === 'ASC' ? '⬆' : '⬇' }} Date</button>
  
        <button class="sortButton" [class.active]="sortBy === 'userName'" 
          (click)="sortByUserName();">{{sortBy != 'userName' ? '' : sortOrder === 'ASC' ? '⬆' : '⬇' }} User</button>
  
        <button class="sortButton" [class.active]="sortBy === 'email'" 
          (click)="sortByEmail();">{{ sortBy != 'email' ? '' : sortOrder === 'ASC' ? '⬆' : '⬇' }} Email</button>
      </div>
      <div class="filters">
        <button (click)="toggleCommentForm()"  class="say-button" [class.active]="!isCommentFormVisible">Say</button>
      </div>
     </div>
    

    <!-- Форма коментаря -->
    <app-comment-form *ngIf="isCommentFormVisible" (closeForm)="isCommentFormVisible = false"></app-comment-form>

    <!-- Список коментарів -->
    <app-comment-list></app-comment-list>
  </div>
</main>
