<form *ngIf="isFormVisible" [formGroup]="commentForm" (ngSubmit)="submitComment()" class="comment-form">  

  <!-- Поля вводу -->
  <div class="form-group">
    <input id="userName" formControlName="userName" placeholder="User Name" 
      [class.invalid]="isFieldInvalid('userName')" required />
    <input id="email" formControlName="email" type="email" placeholder="Email" 
      [class.invalid]="isFieldInvalid('email')" required />
    <input id="homePage" formControlName="homePage" type="url" placeholder="Home Page (optional)" 
      [class.invalid]="isFieldInvalid('homePage')"/>
  </div>

  <!-- Поле тексту з лічильником символів -->
  <div class="text-area-container">
    <textarea id="text" formControlName="text" placeholder="Write your comment..." [class.invalid]="isFieldInvalid('text')" (input)="updateCharCount()" required></textarea>
    <span class="char-counter">{{ charCount }}/500</span>
  </div>

  <!-- HTML панель -->
  <div class="toolbar">
    <button type="button" (click)="insertTag('i')">[i]</button>
    <button type="button" (click)="insertTag('strong')">[strong]</button>
    <button type="button" (click)="insertTag('code')">[code]</button>
    <button type="button" (click)="insertTag('a')">[a]</button>
    <button type="button" (click)="toggleAttachmentsInput()">+ Add files</button>
  </div>

  <!-- Завантаження файлів -->
  <div class="attachments" *ngIf="isAttachmentsInputVisible">    
    <input id="fileAttachments" type="file" (change)="onFileSelected($event)" multiple accept="image/jpeg,image/png,image/gif,text/plain" />
    <p *ngIf="selectedFiles.length >= 6" class="error">Max 6 files allowed.</p>
  </div>

  <!-- Список файлів -->
  <div class="file-list">
    <div *ngFor="let file of selectedFiles; let i = index" class="file-item">
      <span>{{ file.name }}</span>
      <button type="button" class="remove-btn" (click)="removeFile(i)">×</button>
    </div>
  </div>

  <div *ngIf="isLoadingCaptcha" class="loading">loading captcha...</div>

  <!-- CAPTCHA -->
  <div *ngIf="captchaImage && !isLoadingCaptcha" class="captcha-container">
    <img [src]="captchaImage" alt="Captcha" />
    <button type="button" (click)="requestCaptcha()">↻</button>
    <input id="captcha" formControlName="captcha" placeholder="Enter CAPTCHA" 
           [class.invalid]="isFieldInvalid('captcha')" required (focus)="handleCaptchaFocus()" />
  </div>

  <!-- Кнопки -->
  <div class="sendbar">
    <button type="submit">Submit</button>
  </div>
</form>
