.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
  }
  .pagination button {
    min-height: 30px;
  }

  button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }

  button {
    background: #000000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }